<div class="background">
  <h1 class="header">Courses</h1>
  <div class="courseContainer">
    <app-course
      *ngFor="let course of courses"
      [imageSrc]="course.imageSrc"
      [title]="course.title"
      [cssClass]="course.cssClass"
      class="course hidden"
      (imageClick)="navigateToPreview(course)"
    ></app-course>
  </div>
  <div class="courseContainer">
    <app-course
      *ngFor="let course of courses2"
      [imageSrc]="course.imageSrc"
      [title]="course.title"
      [cssClass]="course.cssClass"
      class="course hidden"
      (imageClick)="navigateToPreview(course)"
    ></app-course>
  </div>
  <div class="courseContainer">
    <app-course
      *ngFor="let course of courses3"
      [imageSrc]="course.imageSrc"
      [title]="course.title"
      [cssClass]="course.cssClass"
      class="course hidden"
      (imageClick)="navigateToPreview(course)"
    ></app-course>
  </div>
  <div class="courseContainer">
    <app-course
      *ngFor="let course of courses4"
      [imageSrc]="course.imageSrc"
      [title]="course.title"
      [cssClass]="course.cssClass"
      class="course hidden"
      (imageClick)="navigateToPreview(course)"
    ></app-course>
  </div>
</div>
