@import url(https://fonts.googleapis.com/css?family=Lato);

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background: url("../../assets/8406764.gif") center center/cover no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  overflow-y: hidden;
}

.background {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  margin-top: 13vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header {
  margin-bottom: 5vh;
  color: white;
}

.question {
  color: #fa1e4e;
}

.answer {
  color: whitesmoke;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.questions {
  width: 60vw;
  position: absolute;
  left: 30%;
  margin-top: 7vh;
  margin-left: -150px;
  overflow: hidden;
  padding: 10px;
  overflow: visible;
}

.qdiv {
  position: relative;
  display: block;
  border: 3px solid #fa1e4e;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  animation: fadeIn 0.5s linear;
  animation-fill-mode: both;
  transition: transform 0.3s ease-in-out;
  backdrop-filter: blur(20px);
}

.qdiv:hover {
  transform: scale(1.1);
}

.qdiv:hover .answer {
  max-height: 200px;
  opacity: 1;
}

/* Set delay per question div */
.questions > div:nth-child(1) {
  animation-delay: 0.2s;
}

.questions > div:nth-child(2) {
  animation-delay: 0.4s;
}

.questions > div:nth-child(3) {
  animation-delay: 0.6s;
}

.questions > div:nth-child(4) {
  animation-delay: 0.8s;
}

.questions > div:nth-child(5) {
  animation-delay: 1s;
}

.questions > div:nth-child(6) {
  animation-delay: 1.25s;
}

.questions > div:nth-child(7) {
  animation-delay: 1.5s;
}

.questions > div:nth-child(8) {
  animation-delay: 1.75s;
}

.questions > div:nth-child(9) {
  animation-delay: 2s;
}

.questions > div:nth-child(10) {
  animation-delay: 2.25s;
}

/* Keyframe animation */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}
