<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="background">
      <h1 class="header">Frequently Asked Questions</h1>
      <div class="questions">
        <div class="qdiv">
          <h2 class="question">Question 1: What is this website about?</h2>
          <h3 class="answer">
            Answer: To create an environment for the ambitious to seek a way to
            improve their studying
          </h3>
        </div>
        <div class="qdiv">
          <h2 class="question">
            Question 2: What features are available to registered users?
          </h2>
          <h3 class="answer">
            Answer: Every tool that you might need to create a work plan
          </h3>
        </div>
        <div class="qdiv">
          <h2 class="question">Question 3: How do I navigate the website?</h2>
          <h3 class="answer">
            Answer: On each page there should be a header that has the links to
            the main pages of the website, subpages and related content to the
            main pages could be reached from the main page it self
          </h3>
        </div>
        <div class="qdiv">
          <h2 class="question">
            Question 4: How do I submit feedback or suggestions?
          </h2>
          <h3 class="answer">
            Answer: There is a contact us page, where you could find our
            information, you can submit any feedback in there and we would be
            happy to help
          </h3>
        </div>
        <div class="qdiv">
          <h2 class="question">
            Question 5: How is my personal information protected?
          </h2>
          <h3 class="answer">
            Answer: The information is protected through an encrypted server,
            with the use of SHA-512 encryption and an addition of salting
          </h3>
        </div>
        <div class="qdiv">
          <h2 class="question">
            Question 6: What are your terms and conditions?
          </h2>
          <h3 class="answer">
            Answer: <br />
            1. Keep the content clean (no racism, no sexual content, and no
            harrasment). <br />
            2. No advertising allowed <br />
            3. Using third party applications or trying to access private
            information through hacking
          </h3>
        </div>
        <div class="qdiv">
          <h2 class="question">
            Question 7: How do I report a violation of your terms of service?
          </h2>
          <h3 class="answer">
            Answer: Through the contact us page, send an email and we will
            investigate the issue
          </h3>
        </div>
        <div class="qdiv">
          <h2 class="question">
            Question 8: What are the system requirements for using this website?
          </h2>
          <h3 class="answer">
            Answer: Minimal requirements, this website is built efficiently to
            run on every machine
          </h3>
        </div>
        <div class="qdiv">
          <h2 class="question">
            Question 9: Do you offer support in different languages?
          </h2>
          <h3 class="answer">
            Answer: In the meaning time, unfortunately we don't support any
            other language than English for the website content, however, every
            content added by the users is not limited to any language
          </h3>
        </div>
        <div class="qdiv">
          <h2 class="question">
            Question 10: How do I join a discussion group?
          </h2>
          <h3 class="answer">
            Answer: For each group you would need a key to join, if the system
            recognized the user as a part of the group, then the user
            automatically gains access to the group <br />
            Note: If the user isn't signed to a group and he gains access
            through a given key, the user doesn't become a member after signing
            in
          </h3>
        </div>
      </div>
    </div>
  </body>
</html>
