<div class="dialog-background">
  <h1 mat-dialog-title>{{ data.title }}</h1>

  <div mat-dialog-content *ngIf="data.mode === 'edit'">
    <mat-form-field>
      <mat-label>Enter title</mat-label>
      <input matInput [(ngModel)]="data.divTitle" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter text</mat-label>
      <input matInput [(ngModel)]="data.text" />
    </mat-form-field>
  </div>

  <div mat-dialog-content *ngIf="data.mode === 'view'">
    <p>{{ data.text }}</p>
    <p *ngIf="data.userName">
      <em>Added by: {{ data.userName }}</em>
    </p>
  </div>

  <div mat-dialog-actions>
    <button mat-button class="dialog-btn" (click)="onNoClick()">Cancel</button>

    <button
      mat-button
      class="dialog-btn"
      *ngIf="data.isOwner"
      (click)="onDeleteClick()"
    >
      Delete
    </button>

    <button
      mat-button
      class="dialog-btn"
      *ngIf="data.mode === 'view'"
      (click)="onBuildClick()"
    >
      Build on
    </button>

    <button
      mat-button
      class="dialog-btn"
      *ngIf="data.mode === 'edit'"
      [mat-dialog-close]="data"
    >
      Save
    </button>
  </div>
</div>
