<div class="discussion-box">
  <div class="sidebar">
    <button class="add-button" (click)="addDiv()">Add Note</button>
  </div>

  <svg class="arrow-canvas" width="100%" height="100%">
    <line
      *ngFor="let arrow of arrows"
      [attr.x1]="getDivBorderPoint(arrow.fromDivId, arrow.toDivId).x"
      [attr.y1]="getDivBorderPoint(arrow.fromDivId, arrow.toDivId).y"
      [attr.x2]="getDivBorderPoint(arrow.toDivId, arrow.fromDivId).x"
      [attr.y2]="getDivBorderPoint(arrow.toDivId, arrow.fromDivId).y"
      stroke="white"
      stroke-width="2"
      marker-end="url(#arrowhead)"
    />
    <defs>
      <marker
        id="arrowhead"
        markerWidth="10"
        markerHeight="7"
        refX="10"
        refY="3.5"
        orient="auto"
      >
        <polygon points="0 0, 10 3.5, 0 7" fill="white" />
      </marker>
    </defs>
  </svg>

  <div class="discussion-area">
    <div
      *ngFor="let div of divs"
      class="move"
      [style.left.px]="div.left"
      [style.top.px]="div.top"
      [attr.data-div-id]="div.id"
      [ngClass]="{
        'active-div': activeDivId === div.id,
        'inactive-div': activeDivId !== div.id
      }"
      (mousedown)="onMouseDown($event, div.id)"
      (dblclick)="openDialog(div.id)"
      (click)="onDivClick(div.id)"
    >
      {{ div.divTitle || "Untitled" }}
    </div>
  </div>
</div>
