.course {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  overflow-y: hidden;
}

.course img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  cursor: pointer;
}

.course h2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  margin: 0;
  display: block;
  visibility: visible;
  z-index: 1;
}

.CourseClass {
  color: white;
  margin-top: 10vh;
  margin-left: 10vw;
  font-family: sans-serif;
}
