<div class="background">
  <div class="container" id="container">
    <div class="form-container sign-up">
      <form class="formset">
        <h1>Create Account</h1>
        <span>or use your email for registration</span>
        <input type="text" placeholder="Full Name" />
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
      </form>
      <button class="Sign" (click)="onSignUp()">Sign Up</button>
    </div>
    <div class="form-container sign-in">
      <form class="formset">
        <h1 class="Sign-in-text">Sign In</h1>
        <span>or use your email password</span>
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <a class="Forgot" routerLink="/resetPassword">Forgot Your Password?</a>
      </form>
      <button class="Sign" (click)="onSignIn()">Sign In</button>
    </div>
    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">
          <h1>Welcome Back!</h1>
          <p>Enter your personal details to use all site features</p>
          <button class="hidden" id="login" (click)="toggleContainer()">
            Sign In
          </button>
        </div>
        <div class="toggle-panel toggle-right">
          <h1>Hello, Friend!</h1>
          <p>Register with your personal details to use all site features</p>
          <button class="hidden" id="register" (click)="toggleContainer()">
            Sign Up
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
