<div class="background">
  <div class="container">
    <h1 class="header-text">Change your password</h1>
    <div class="email">
      <h2 class="input-text">Email address:</h2>
      <input
        type="email"
        class="input1"
        placeholder="Email"
        [(ngModel)]="email"
      />
    </div>
    <div class="password">
      <h2 class="input-text">Enter password:</h2>
      <input
        type="password"
        class="input2"
        placeholder="Password"
        [(ngModel)]="password"
      />
    </div>
    <div class="password">
      <h2 class="input-text">Confirm password:</h2>
      <input
        type="password"
        class="input3"
        placeholder="Confirm Password"
        [(ngModel)]="confirmPassword"
      />
    </div>
    <button class="submit" (click)="onSubmit()">Submit</button>
    <a class="login" routerLink="/login">Back to the LogIn page</a>
  </div>
</div>
