/* You can add global styles to this file, and also import other style files */
* {
  margin: 0 0;
  padding: 0 0;
  overflow-x: hidden;
}
html,
body,
app-root {
  height: 100%;
  width: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-dialog-container h2 {
  color: white !important;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

mat-dialog-container mat-dialog-content {
  background-color: #fa1e4e !important;
  color: white !important;
  padding: 20px;
}

:root {
  --mdc-dialog-subhead-color: white;
  --mdc-dialog-subhead-size: 24px;
  --mdc-dialog-subhead-weight: bold;
}
