.background {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  background-image: url("../../../assets/8406764.gif");
}

.container {
  background-color: #1d1d25;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  margin: auto auto;
  margin-top: 200px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.email {
  width: 90%;
  height: 50px;
  background-color: #fa1e4e;
  margin-top: 3vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  border-radius: 10px;
}

.password {
  width: 90%;
  border-radius: 10px;
  height: 50px;
  background-color: #fa1e4e;
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.submit {
  margin-top: 4vh;
  background-color: #fa1e4e;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.submit:hover {
  box-shadow: 0 5px 15px rgba(90, 89, 89, 0.5);
}

input {
  height: 50%;
  width: 40%;
  background-color: #333333;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 8px;
  outline: none;
  color: #fff;
}

.input-text {
  margin-left: 5vw;
}

.input1 {
  margin-left: 6vw;
}

.input2 {
  margin-left: 4.5vw;
}

.input3 {
  margin-left: 2vw;
}

.login {
  margin-top: 3vh;
  color: white;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
