.background {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  background-image: url("../../../assets/8406764.gif");
}

.container {
  background-color: #1d1d25;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  margin: auto auto;
  margin-top: 200px;
  color: #fff;
}
