<div class="background">
  <div class="container">
    <h1 class="header-text">Change your password</h1>
    <div class="email">
      <h1 class="input-text">Email address:</h1>
      <input type="text" class="input1" placeholder="Email" />
    </div>
    <div class="password">
      <h1 class="input-text">Enter password:</h1>
      <input type="text" class="input2" placeholder="Password" />
    </div>
    <div class="password">
      <h1 class="input-text">Confirm password:</h1>
      <input type="text" class="input3" placeholder="Confirm Password" />
    </div>
    <button class="submit" routerLink="/login">Submit</button>
  </div>
</div>
