<div class="page-container">
  <h1 class="title">Discussion Communities</h1>

  <div class="header-actions">
    <!-- Add Community button moved to right side of the page -->
    <button (click)="openAddCommunityDialog()" class="add-community-button">
      Add Community
    </button>
  </div>

  <div class="div-container">
    <div
      *ngFor="let community of communities"
      (click)="navigateToPreview(community.title)"
      class="community-div"
    >
      <h1 class="community-title">{{ community.title }}</h1>
      <i class="fa-solid {{ community.icon }} fa-fade icon"></i>
    </div>
  </div>
</div>
