<div class="background">
  <h1 class="title">Discussion Communities</h1>
  <div class="div-container">
    <div class="community1" routerLink="/genDiscussion">
      <h1 class="community-title">General Discussion</h1>
      <i class="fa-solid fa-comments fa-fade icon"></i>
    </div>
    <div class="community2" routerLink="/genDiscussion">
      <h1 class="community-title">General Courses Discussion</h1>
      <i class="fa-solid fa-book fa-fade icon"></i>
    </div>
    <div class="community3" routerLink="/genDiscussion">
      <h1 class="community-title">Community Discussion</h1>
      <i class="fa-solid fa-users fa-fade icon"></i>
    </div>
    <div class="community4" routerLink="/genDiscussion">
      <h1 class="community-title">University Discussion</h1>
      <i class="fa-solid fa-building-columns fa-fade icon"></i>
    </div>
  </div>
</div>
