.background {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  background-image: url("../../../assets/8406764.gif");
}

.stam {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  color: white;
}
