<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
  </head>
  <body>
    <div class="background">
      <div class="background1">
        <h1 class="header-text hidden">In a world full of nightmares, we forget to dream, and in today's age, we fear to learn. Take a leap of faith, and indulge in the sea of knowledge.</h1>
      </div>
      <div class="background2"></div>
    </div>
  </body>
</html>
