<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
  </head>
  <body>
    <div class="background">
      <div class="boxes">
        <div class="container hidden">
          <div class="left-box"></div>
          <h1>This will contain section 1</h1>
        </div>
        <div class="container hidden">
          <div class="mid-box"></div>
          <h1>This will contain section 1</h1>
        </div>
        <div class="container hidden">
          <div class="right-box"></div>
          <h1>This will contain section 1</h1>
        </div>
      </div>
      <div class="separator"></div>
    </div>
  </body>
</html>
