.background {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  background-image: url("https://img.freepik.com/free-vector/paper-style-white-monochrome-background_23-2149020296.jpg?w=1060&t=st=1718891289~exp=1718891889~hmac=3a356f50a69e9386f077e3401e45eb85ddcff839ccfdf6106ef29d96c7ffa54e");
}
