<div class="header">
  <div class="left-section" (click)="onRefreshPage()">
    <img class="logo-label" src="assets/icon.png" />
  </div>
  <div class="right-section">
    <a routerLink="/home" class="header-links">Home</a>
    <a routerLink="/courses" class="header-links">Courses</a>
    <a routerLink="/discussion" class="header-links">Communities</a>
    <a routerLink="/contactUs" class="header-links">Contact Us</a>
    <a routerLink="/FAQ" class="header-links">FAQ</a>
    <a routerLink="/profile" class="header-links">Profile</a>
    <a (click)="onLogout()" class="header-links">Logout</a>
  </div>
</div>
