<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
  </head>
  <body>
    <div class="header">
      <div class="left-section" (click)="onRefreshPage()">
        <img class="logo-label" src="assets/icon.png" />
      </div>
      <div class="right-section">
        <a routerLink="/home" class="header-links">Home</a>
        <a routerLink="/about" class="header-links">About</a>
        <a routerLink="/contactUs" class="header-links">Contact Us</a>
        <a routerLink="/login" class="header-links">Login</a>
      </div>
    </div>
  </body>
</html>
