<div class="background">
  <div class="preview">
    <app-course
      *ngIf="course"
      [imageSrc]="course.imageSrc"
      [title]="course.title"
      [cssClass]="course.cssClass"
    ></app-course>
  </div>
  <div class="discussion-div">
    <h1 class="Community-Title">{{ course?.title }} Disscussion Room</h1>
    <h2>Check out the discussion room for the {{ course?.title }} course</h2>
    <h2>And connect with others to build a world full of great ideas</h2>
    <i class="fa-regular fa-comments fa-fade icons"></i>
  </div>
  <div class="discussion-div2"></div>
</div>
