<div class="background">
  <div class="preview" *ngIf="course; else loading">
    <img
      [src]="course?.imageSrc"
      alt="{{ course?.title }}"
      class="course-image"
    />
    <h1 class="course-title">{{ course?.title }}</h1>

    <div class="stacked-divs">
      <div class="custom-div">
        <h1>Syllabus</h1>

        <label for="file-upload-1" class="custom-file-upload">
          Upload Syllabus
        </label>
        <input
          id="file-upload-1"
          type="file"
          accept=".pdf"
          (change)="editFirstDiv($event)"
        />

        <div class="pdf-files-container">
          <div
            *ngFor="let file of course?.firstDivFiles"
            class="pdf-file"
            (click)="openFile(file)"
          >
            <img src="../../../assets/pdf-file.png" alt="PDF" />
            <span>PDF File</span>
          </div>
        </div>
      </div>

      <div class="custom-div">
        <h1>Course Material</h1>

        <label for="file-upload-2" class="custom-file-upload">
          Upload Course Material
        </label>
        <input
          id="file-upload-2"
          type="file"
          accept=".pdf"
          (change)="editSecondDiv($event)"
        />

        <div class="pdf-files-container">
          <div
            *ngFor="let file of course?.secondDivFiles"
            class="pdf-file"
            (click)="openFile(file)"
          >
            <img src="../../../assets/pdf-icon.png" alt="PDF" />
            <span>Course Syllabus</span>
          </div>
        </div>
      </div>

      <div
        class="discussion-div custom-div"
        (click)="navigateToDiscussion(course?.title)"
      >
        <h1 class="Community-Title">{{ course?.title }} Discussion Room</h1>
        <h2>
          Check out the discussion room for the {{ course?.title }} course
        </h2>
        <h2>And connect with others to build a world full of great ideas</h2>
        <i class="fa-regular fa-comments fa-fade icons"></i>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <p>Loading course information...</p>
  </ng-template>
</div>
