<div class="background">
  <div class="preview" *ngIf="course; else loading">
    <!-- Use the safe navigation operator ? to avoid the NG3 error -->
    <img
      [src]="course?.imageSrc"
      alt="{{ course?.title }}"
      class="course-image"
    />

    <h1 class="course-title">{{ course?.title }}</h1>

    <div class="stacked-divs">
      <div class="custom-div">
        <h1>div</h1>
        <button
          *ngIf="userCanEdit"
          class="edit-button"
          (click)="editFirstDiv()"
        >
          Edit
        </button>
      </div>

      <div class="custom-div">
        <h1>div</h1>
        <button
          *ngIf="userCanEdit"
          class="edit-button"
          (click)="editSecondDiv()"
        >
          Edit
        </button>
      </div>

      <div
        class="discussion-div custom-div"
        (click)="navigateToDiscussion(course?.title)"
      >
        <h1 class="Community-Title">{{ course?.title }} Discussion Room</h1>
        <h2>
          Check out the discussion room for the {{ course?.title }} course
        </h2>
        <h2>And connect with others to build a world full of great ideas</h2>
        <i class="fa-regular fa-comments fa-fade icons"></i>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <p>Loading course information...</p>
  </ng-template>
</div>
