<div class="background">
  <div class="overlay"></div>
  <div class="profile-container">
    <div class="profile-header">
      <div class="profile-pic-container">
        <input
          type="file"
          id="profilePicInput"
          accept="image/*"
          (change)="onFileSelected($event)"
          hidden
        />
        <img
          [src]="profilePicUrl | async"
          alt="Profile Picture"
          class="profile-pic"
          (click)="triggerFileInput()"
        />
      </div>
      <div class="user-info">
        <h2>{{ fullName }}</h2>
        <p>{{ email }}</p>
      </div>
    </div>

    <button *ngIf="isImageSelected" class="confirm-btn" (click)="onUpload()">
      Confirm Picture
    </button>

    <div class="about-user">
      <h3>About Me</h3>
      <textarea
        [(ngModel)]="userAbout"
        placeholder="Tell us about yourself..."
      ></textarea>
      <button (click)="saveAbout()">Save Information</button>
    </div>

    <h1 class="detective-header">Detective/Ideas Board</h1>
    <app-discussion-box
      [title]="detectiveBoardTitle"
      [userId]="userId"
      [isProfileMode]="true"
      class="detective-board"
    ></app-discussion-box>
  </div>
</div>
