/* Background styling */
.background {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  background-image: url("../../assets/8406764.gif");
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  width: 90vw;
  height: 110vh;
  margin-top: 40vh;
  padding: 20px;
  border: 5px solid #fa1e4e;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-header {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #fa1e4e;
  color: white;
}

.profile-pic-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #fa1e4e;
  margin-right: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.user-info h2,
.user-info p {
  margin: 0;
}

.about-user {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #fa1e4e;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-user textarea {
  width: 97%;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #fa1e4e;
  background-color: transparent;
  color: white;
  resize: none;
}

.about-user button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #fa1e4e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Confirm {
  margin-top: 3vh;
}

.detective-board {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #fa1e4e;
  border-radius: 10px;
  height: 56vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.detective-board h1 {
  color: white;
}
