<div class="background">
  <div class="left-section">
    <h1 class="header-text hidden">
      Unlock the limitless potential of tomorrow by empowering the minds of
      today. Together, we can ignite a passion for learning that will pave the
      way for a brighter and more innovative future.
    </h1>
    <br />
    <br />
    <h1 class="header-text hidden" style="font-size: 26px">
      Embrace the journey with us and help shape a world where knowledge and
      creativity know no bounds.
    </h1>
  </div>
  <div class="right-section">
    <div class="first hidden" routerLink="/FAQ">
      <i class="fa-solid fa-book-open fa-fade icons"></i>
      <h3 class="subtexts">
        Explore the world we feature with this website with a quick walkthrough
      </h3>
    </div>
    <div class="second hidden" routerLink="/courses">
      <i class="fa-solid fa-laptop-file fa-fade icons"></i>
      <h3 class="subtexts">
        Visit our courses page to start discovering what hides within
      </h3>
    </div>
    <div class="third hidden" routerLink="/contactUs">
      <i class="fa-solid fa-address-book fa-fade icons"></i>
      <h3 class="subtexts">
        For more information, feel free to contact us through any convenient
        platform
      </h3>
    </div>
  </div>
</div>
