.discussion-box {
  background-color: transparent;
  border: solid 2px #fa1e4e;
  border-radius: 10px;
  margin-top: 5vh;
  margin-bottom: 6vh;
  text-align: center;
  width: 94vw;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.sidebar {
  width: 5vw;
  background-color: #202230;
  border-right: 2px solid #fa1e4e;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.add-button {
  background-color: #fa1e4e;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 10px;
}

.add-button:hover {
  background-color: #d41d45;
}

.discussion-area {
  flex-grow: 1;
  position: relative;
  background-color: transparent;
  padding-left: 5vw;
  overflow: hidden;
}

.move {
  background-color: #fa1e4e;
  height: 8vh !important;
  width: 6vw !important;
  position: absolute;
  cursor: grab;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.inactive-div {
  background-color: #fa1e4e;
  width: 100px;
  height: 100px;
  position: absolute;
  cursor: pointer;
}

.active-div {
  background-color: #5c5d63;
  width: 100px;
  height: 100px;
  position: absolute;
  cursor: pointer;
}

.custom-dialog-container {
  transform: translate(-50%, -50%);
  position: absolute;
}
